body{
  background:rgb(44, 44, 44); 
  margin: 2;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  position: static;
}
/* navigation bar*/
html,
body {
margin: 0px;
}


section{
font-family: 'Montserrat';
margin: 0 auto;
height: 90px;
position: relative;
right: 50px;
bottom: 160px;
text-align: center;
background: #000000;
padding-left: 150px;
padding-top: 15px;
width: 100%;
border-radius: 15px;
}

.part{
padding-top: 10px;
}

section h1 {
color: #aaa;
font-size: 50px;
font-weight: lighter;
margin-bottom: 5px;
}

section a{
position: relative;
top: 2px;
}

section span {
color: #222;
}

footer span {
color: #aaa;
}

div.container {
font-family: 'Montserrat';
margin: 0 auto;
padding: 10em 3em;
text-align: center;
}

div.container a {
color: #fff;
text-decoration: none;
font: 16.5px 'Poppins';
font-weight: lighter;
margin: 0px 10px;
padding: 1.5px;
position: relative;
z-index: 0;
cursor: pointer;
right: 180.5px;
}
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
position: absolute;
left: 0px;
width: 100%;
height: 2px;
background: #fff;
content: "";
opacity: 0;
transition: all 0.3s;
}

div.topBotomBordersOut a:before {
top: 0px;
transform: translateY(10px);
}

div.topBotomBordersOut a:after {
bottom: 0px;
transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
opacity: 1;
transform: translateY(0px);
}
.Logo{
color: white;
font-weight: bolder;
float: left;
text-align: center;
display: block;
font-size: 35px;
width: 230px;
height: 50px;
position: relative;
bottom: 35px;
right: 65px;
}
.textbox{
border: 2px solid black;
width: 450px;
position: relative;
right: 120px;
height: 30px;
border-radius: 10px;
padding: 8px;
font-family: 'Mooli';
}
.location{
color: white;
float: right;
position: relative;
right: 220px;
}
.account{
float: right;
position: relative;
right: 90px;
bottom: 35px;
}
.Cart{
float: right;
position: relative;
bottom: 35px;
}

/* Silde show*/
.image-slideshow {
max-width: 1000px;
position: relative;
margin: auto;
position: relative;
bottom: 150px;
}
.slide_show section{
  background-color: rgb(44, 44, 44);
}

.slide_show img {
width: 1000px;
}
.fade {
animation-name: fade;
animation-duration: 18s;
}
@keyframes fade {
from {opacity: .5}
to {opacity: 1}
}